<div class="container">
  <h3>Control de asistencias</h3>

  <div class="Row m-3">
    <div class="Row mt-5 mb-3">
      <h5 class="text-start w-100">Resumen de asistencias:</h5>
    </div>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Kumiko Sucursal #1</div>
        </div>
        <div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #0ad62c; color: #fff;">10</span>
          </div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #edad16; color: #fff;">5</span>
          </div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #ff5733; color: #fff;">1</span>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Kumiko Sucursal #2</div>
        </div>
        <div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #0ad62c; color: #fff;">10</span>
          </div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #edad16; color: #fff;">5</span>
          </div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #ff5733; color: #fff;">1</span>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Kumiko Sucursal #3</div>
        </div>
        <div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #0ad62c; color: #fff;">10</span>
          </div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #edad16; color: #fff;">5</span>
          </div>
          <div class="Row">
            <span class="badge rounded-pill me-1" style="background-color: #ff5733; color: #fff;">1</span>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>