<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4 d-flex flex-column align-items-center" style="width: 300px; border-radius: 10px;">
      <form class="w-100 text-center">

        <div class="text-center mb-5">   
          <h1 class="d-inline-block align-middle ml-2">Kumiko</h1>
          <span class="d-inline-block align-middle">
            <i class="fas fa-utensils" style="font-size: 25px; color: #6c757d;"></i>
          </span>
        </div>
        
        <div class="mb-4">
          <i class="fa-solid fa-right-to-bracket" style="font-size: 48px; color: #6c757d;"></i>
        </div>
        
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Escribe tu usuario:" aria-label="Input">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Escribe tu password:" aria-label="Input">
        </div>
        
        <button type="submit" class="btn btn-primary w-100" (click)="onLogin()">Login</button>
      </form>
    </div>
  </div>
  
  
  
  
  
  
  