/* body {
    font-family: 'Arial', sans-serif;
  } */
#sidebar {
    min-height: 100vh;
    background-color: #1272d3; /* Light background for a clean look */
  }
  .nav-link {
    font-size: 16px;
    color: #495057;
    transition: all 0.2s ease-in-out;
  }
  .nav-link:hover {
    color: #007bff;
    background-color: transparent;
  }
  .nav-link.active {
    color: #007bff;
  }
  .sidebar-heading {
    padding: 1rem;
    font-weight: bold;
    font-size: 18px;
    color: #343a40;
  }